<head>
    <title>Automatizações - Zulrah</title>

    @section metatags{
        <meta name="description"
              content="Aumente sua produtividade com a nossa solução de automação.
          Deixe os processos repetitivos com os robôs e se importe apenas com seu negócio.">

        <meta name="keywords" content="A definir">
    }

    <link href="~/Content/cssViews/about.css" rel="stylesheet" />
</head>

<section class="box-content-services">

    <div class="text-center pb-2">
        <h1>Automatizações</h1>
        <img class="img-fluid" width="500" height="400" src="~/imagens/imagens-saiba-mais/Automatizacoes.jpg" alt="Imagem que representa Automatizações" />
    </div>

    <div class="pad-content">
        <p>
            Nosso serviço de “automação corporativa” tem como objetivo aplicar a automação que existe nas indústrias há muitos anos,
            porém em um escopo voltado a empresas que possuem dificuldades ou querem melhorar a produtividade em seus escritórios.
        </p>
        <p>
            Todo o trabalho é realizado a partir de “Bots”, esses são como robôs, porém não físicos (somente software),
            todos são projetados para realizar tarefas específicas incansavelmente.
        </p>

        <hr />

        <h2 class="text-center pb-2">Mas por que automatizar o meu escritório?</h2>

        <h2>Maior velocidade na realização das tarefas</h2>

        <p>
            Tarefas realizadas por Bots são extremamente mais velozes do que realizadas por humanos, devido ao seu poder de
            processamento superior, tarefas como execução de validações, buscas, comparações, manipulações de dados, processamento
            de planilhas eletrônicas e arquivos em geral se tornam algo simples.
        </p>

        <h2>Menor probabilidade de falhas nos processos</h2>

        <p>
            Tarefas realizadas por Bots sempre são executadas de acordo com o processo que foi idealizado, não existe surpresas no que será executado, pois todos são
            projetados para executar somente aquilo que lhes foi dito com excelência e exatidão.
        </p>

        <h2>Redução de gastos com funcionários</h2>

        <p>
            Com a utilização de Bots você consegue realizar mais trabalho com menos recursos, equipes operacionais, áreas volantes
            e todos os bastidores da sua empresa sendo realizadas por Bots especialistas incansáveis.

            Redução de custo com energia, água, materiais de escritórios e insumos em geral são pontos importantes sobre a adoção do serviço.
        </p>

        <h2>Redução de gastos com infraestrutura</h2>
        <p>
            Com a utilização de Bots a necessidade de recursos de computação é reduzida, ferramentas como, teclado, mouse, monitores e
            maquinas utilizada por funcionários são desnecessários. Todos os Bots são projetados para utilizar a menor quantidade
            de recursos possíveis ao realizar as suas tarefas, assim, na maioria dos cenários precisando do mínimo para operar.
        </p>

        <h2>Automação corporativa é o encaixe perfeito</h2>

        <p>
            Em todo projeto é realizado uma análise profunda do problema do cliente, análise dos cenários e mapeamento do
            processo que será automatizado. A solução se encaixa perfeitamente ao problema proposto assim garantindo o sucesso.
        </p>
    </div>
    @Html.Partial("_Contact")
</section>
