<head>
    <title>Criação de Sites - Zulrah</title>
    
    @section metatags{
        <meta name="description"
              content="Ter um site se tornou obrigatório atualmente devido a evolução tecnológica nas corporações.
          Resolva este problema com as nossas soluções.">
        <meta name="keywords" content="A definir">
    }

    <link href="~/Content/cssViews/about.css" rel="stylesheet" />
</head>

<section class="box-content-services">

    <div class="text-center pb-2">
        <h1>Criação de Sites</h1>
        <img class="img-fluid" width="500" height="400" src="~/imagens/imagens-saiba-mais/Criacao-Sites.jpg" alt="Imagem que representa Criação de Sites" />
    </div>

    <div class="pad-content">
        <p>
            O serviço de criação de sites consiste na criação de paginas web para empresas, serviços ou instituições
            independente do seu porte. Usamos as melhores ferramentas e metodologias do mercado para desenvolver
            um produto seguro, rápido e de qualidade que supra todas as necessidades dos nossos clientes.
        </p>

        <p>
            As paginas dos sites que desenvolvemos se adequam a qualquer tipo de dispositivo,
            desde tablets, smart-tvs, celulares e computadores, essa tecnologia faz com que
            você garanta uma boa experiência e profissionalismo ao acessar o site além de não restringir nenhum tipo de público.

        </p>

        <p>
            Os sites são projetados com as melhores técnicas e estratégias de SEO para que os
            nossos clientes fiquem no topo das pesquisas nos principais mecanismos de busca da internet como Google, Yahoo e Bing.
        </p>

        <h2>Afinal, por que eu devo ter um site?</h2>

        <ol>
            <li>
                <p>
                    Ter um site possibilita que sua empresa tenha uma maior credibilidade perante um público alvo,
                    garantindo assim, uma imagem de profissionalismo para os consumidores.
                </p>
            </li>

            <li>
                <p>
                    Com o aumento da credibilidade e visibilidade da sua empresa e na internet,
                    consequentemente suas vendas aumentarão com a quantidade de possíveis clientes que
                    sua página web conseguirá alcançar.
                </p>
            </li>

            <li>
                <p>
                    Tendo acesso a formulários no seu site, você conseguirá informações valiosas que te permitirá ter
                    uma visão ampla sobre seu próprio negócio, além de facilitar o contato entre a sua organização e seus clientes.
                </p>
            </li>
        </ol>
        <p>
            Ter um cartão de visita online hoje em dia é obrigatório nos ramos dos negócios, e nós da Zulrah podemos
            te ajudar, temos uma equipe de especialistas que irão realizar estudos de casos e análises profundas
            dos problemas que sua empresa enfrenta.
        </p>

    </div>
    @Html.Partial("_Contact")
</section>
