<head>
    <title>Políticas de Privacidade - Zulrah</title>
    <link href="~/Content/cssViews/about.css" rel="stylesheet" />
</head>

<section class="box-content-services">

    <h1 class="text-center">Políticas de Privacidade</h1>
    <p>
        A Zulrah Consultoria de Software está empenhada em proteger a sua privacidade e em desenvolver tecnologia que lhe
        proporcione a mais poderosa e segura experiência online. Esta declaração de privacidade aplica-se ao "site"
        Zulrah Consultoria de Software e rege a coleta de dados e o uso. Ao utilizar o site da Zulrah Consultoria de
        Software, você concorda com as práticas de dados descritas nesta declaração.
    </p>

    <h2>Coleta de suas informações pessoais</h2>

    <p>
        A Zulrah Consultoria e Software coleta informações referente às solicitações de contato dos clientes enviadas
        ao submeter o formulário na pagina inicial do “site”. São obtidos os dados de Nome, Nome da empresa (opcional),
        E-mail, Telefone, DDD, Preferencia de contato (Indiferente, Telefone ou E-mail), e a descrição do serviço caso
        o solicitante deseje informar mais detalhes sobre a solicitação.
    </p>

    <p>
        Lembre-se de que, se você divulgar diretamente informações pessoais identificáveis ou dados confidenciais
        pessoais por meio dos quadros de mensagens públicos da Zulrah Consultoria de Software, essas informações
        poderão ser coletadas e usadas por outras pessoas. Nota: Zulrah Consultoria de Software não recita nenhuma
        das suas comunicações privadas online.
    </p>

    <p>
        Zulrah Consultoria de Software incentiva-o ler a Política de Privacidade de modo que você possa compreender
        como o site coleta, usa e compartilha suas informações. Zulrah Consultoria de Software não é responsável pela
        Política de Privacidade ou outro conteúdo exibidos fora dos "sites" Zulrah Consultoria de Software.
    </p>

    <h2>Uso de suas informações pessoais</h2>

    <p>
        A Zulrah Consultoria de Software coleta e usa suas informações pessoais enviadas pelo formulário de solicitação
        de contato para operar o site e entregar os serviços que você solicitou. Zulrah Consultoria de Software também
        usa suas informações pessoais para informá-lo de outros produtos ou serviços disponíveis do Zulrah Consultoria
        de Software. Zulrah Consultoria de Software pode também contatá-lo através de enquetes para conduzir pesquisas
        sobre sua opinião de serviços atuais ou dos serviços novos e potenciais, que possam ser oferecidos.
    </p>

    <p>
        A Zulrah Consultoria de Software não vende, aluga ou arrenda suas listas de clientes para terceiros.
    </p>

    <p>
        Zulrah Consultoria de Software se mantém informado dos acessos e visitas dos clientes ao site a fim de determinar
        quais serviços são os mais populares. Esses dados são usados para entregar conteúdo personalizado e publicidade,
        pois saberemos qual o produto de maior interesse entre as pessoas que acessam o nosso “site”.
    </p>

    <p>
        O site da Zulrah Consultoria de Software divulgarão suas informações pessoais, sem aviso prévio, somente se
        exigido por lei ou de boa-fé que tais ações sejam necessárias para:
    </p>

    <p>
        A - Estar em conformidade com os decretos da lei ou cumprir as leis processo veiculado na Zulrah Consultoria
        de Software ou no site;
    </p>

    <p>
        B - Proteger e defender os direitos ou propriedade da Zulrah Consultoria de Software;
    </p>

    <p>
        C - Agir sob circunstancias que exijam a proteção da segurança dos usuários, de site ou do público.
    </p>

    <h2>
        Uso de Cookies
    </h2>

    <p>
        O site Zulrah Consultoria de Software <strong>não usa “cookies”</strong> no site Zulrah Consultoria de Software.
    </p>

    <p>
        Zulrah Consultoria de Software protege suas informações pessoais contra acesso, uso ou divulgação não autorizados.
    </p>

    <p>
        Zulrah Consultoria de Software assegura que as informações pessoais que você forneceu nos servidores estão em um
        ambiente controlado, seguro e protegido de acessos não autorizados, uso ou divulgação. Quando informações pessoais
        (como um número de cartão de crédito) são transmitidas para outros sites, elas são protegidas por meio de criptografia,
        como o protocolo SSL (Secure Socket Layer).
    </p>

    <h2>Alterações a esta declaração</h2>

    <p>
        Zulrah Consultoria de Software irá ocasionalmente atualizar esta Declaração de Privacidade para refletir os
        comentários da empresa e dos clientes. Zulrah Consultoria de Software encoraja você a rever este documento
        periodicamente para estar informado de como Zulrah Consultoria de Software esta protegendo sua informação.
    </p>

    <h2>Informações de contato</h2>

    <p>
        A Zulrah Consultoria de Software agradece seus comentários sobre esta Declaração de Privacidade. Se você acredita
        que Zulrah Consultoria de Software não se adere a esta política, por favor, entre em contato com Zulrah Consultoria
        de Software através do e- mail em privacidade@Zulrah.com.br. Usaremos esforços comercialmente razoáveis para
        determinar e resolver prontamente o problema.
    </p>

</section>