<head>
    <title>Sistemas Personalizados - Zulrah</title>
    @section metatags{
        <meta name="description"
              content="Obtenha soluções customizadas específicas para a sua necessidade organizacional.
          Invista na sua ideia e deixe-nos torná-la realidade.">
        <meta name="keywords" content="A definir">
        }

        <link href="~/Content/cssViews/about.css" rel="stylesheet" />
    </head>

<section class="box-content-services">

    <div class="text-center pb-2">
        <h1>Sistemas Personalizados</h1>
        <img class="img-fluid" width="500" height="400" src="~/imagens/imagens-saiba-mais/Sistemas-Personalizados.png" alt="Imagem que representa Sistemas Personalizados" />
    </div>

    <div class="pad-content">
        <p>
            Problemas específicos necessitam de soluções customizadas, foi pensando nisso que nós da Zulrah oferecemos
            aos nossos clientes o serviço de "Sistemas Personalizados". Baseia-se na construção e desenvolvimento
            de um software adaptado às principais necessidades de sua organização, visando a melhoria dos resultados
            obtidos, redução de custos operacionais e aumento da produtividade.
        </p>

        <hr />

        <h2 class="text-center pb-2">Quais são os principais benefícios de um sistema customizado?</h2>

        <h2>Foco nas principais demandas da empresa</h2>
        <p>
            Sistemas tradicionais são construídos em base de um problema comum que diversas companhias possam ter,
            diferente de softwares desenvolvidos do zero que são modelados a partir das especificações e necessidades
            de cada cliente, assim, permitindo uma maior flexibilidade e se tornando uma extensão da empresa.
        </p>

        <h2>Adaptável às mudanças</h2>

        <p>
            Mudanças nos processos de negócio e reformas organizacionais são frequentes e previsíveis dentro de uma
            corporação. Neste cenário, construiremos uma ferramenta para sua empresa que seja escalável e acompanhe
            a evolução do seu negócio. Isso possibilita melhorias em funcionalidades já existentes e a construção de
            novos componentes, permitindo crescimento exponencial do seu produto.
        </p>

        <h2>Maior Segurança dos Dados</h2>

        <p>
            Os dados são os ativos mais importante de uma empresa, através deles, você gerará informações valiosas
            para realizar tomadas de decisões que possam alavancar seu negócio, como você poderá economizar dinheiro
            com custos desnecessários e aumentar suas vendas com descontos de produtos específicos.
        </p>

        <p>
            Dados importantes precisam de segurança e, com o desenvolvimento de Sistemas Personalizados, tomaremos
            todas as medidas possíveis para que seu maior ativo seja protegido com as principais ferramentas do
            mercado que proporcione para seu sistema toda a proteção que ele necessita
        </p>

    </div>
    @Html.Partial("_Contact")
</section>
