<head>
    <title>Termos de Uso - Zulrah</title>

    <meta name="description"
          content="A definir">
    <meta name="keywords" content="A definir">
    <link href="~/Content/cssViews/about.css" rel="stylesheet" />
</head>

<section class="box-content-services">

    <div class="pt-2">
        <h2>ACORDO ENTRE O USUÁRIO E Zulrah Consultoria e Desenvolvimento de Software</h2>

        <p>
            O Site da Zulrah Consultoria e Desenvolvimento de Software é composto por várias páginas, operadas por Zulrah
            Consultoria e Desenvolvimento de Software.
        </p>


        <p>
            O Site da Zulrah Consultoria e Desenvolvimento de Software é oferecido a você, condicionado à sua aceitação,
            sem modificação dos termos, condições e avisos aqui contidos. O uso que você faz do site da Zulrah Consultoria
            e Desenvolvimento de Software constitui sua concordância com todos os termos, condições e avisos.
        </p>

        <h2>MODIFICAÇÃO DESTES TERMOS DE USO</h2>

        <p>
            A Zulrah Consultoria e Desenvolvimento de Software reserva-se o direito de alterar os termos, condições e avisos
            sob os quais o Site da Zulrah Consultoria e Desenvolvimento de Software é oferecido.
        </p>

        <h2>NENHUM USO ILEGAL OU PROIBIDO</h2>

        <p>
            Como condição de uso do Portal Zulrah Consultoria e Desenvolvimento de Software, você garante à Zulrah Consultoria
            e Desenvolvimento de Software que não utilizará o portal Zulrah Consultoria e Desenvolvimento de Software para
            nenhum propósito que seja ilegal ou proibido por estes termos, condições e avisos. Você não pode usar o Portal
            Zulrah Consultoria e Desenvolvimento de Software de alguma maneira que possa danificar sobrecarregar ou incapacitar
            o Portal Zulrah Consultoria e Desenvolvimento de Software ou interferir no uso de alguma outra parte ou funcionamento
            do Portal Zulrah Consultoria e Desenvolvimento de Software.
        </p>

        <h2>USO DE SERVIÇOS DE COMUNICAÇÃO</h2>

        <p>
            O site Zulrah Consultoria e Desenvolvimento de Software pode conter serviços de boletins, áreas de bate-papo,
            grupos de notícias, fóruns, comunidades, páginas pessoais, calendários e / ou outros recursos de comunicação
            ou mensagens criadas para permitir a comunicação com o público em geral ou com um grupo (coletivamente,
            "Serviços de Comunicação"), você concorda em usar os Serviços de Comunicação apenas para publicar, enviar e
            receber mensagens e materiais apropriados e relacionados ao Serviço de Comunicação específico.
        </p>

        <p>A título de exemplo, e não como uma limitação, você concorda que, ao usar um serviço de comunicação, você não pode:</p>
        <ul>
            <li>
                <p>
                    Difamar, abusar, assediar, perseguir, ameaçar ou de outra forma violar os direitos legais (como os direitos de privacidade
                    e publicidade) de outros.
                </p>
            </li>

            <li>
                <p>
                    Publicar, postar, fazer upload, distribuir ou disseminar qualquer tópico, nome, material ou informação inadequado,
                    profano, difamatório, infrator, obsceno, indecente ou ilegal.
                </p>
            </li>

            <li>
                <p>
                    Carregar arquivos que contenham software ou outro material protegido por leis de propriedade intelectual (ou por
                    direitos de privacidade de publicidade), a menos que você possua ou controle os direitos ou tenha recebido todos os
                    consentimentos necessários.
                </p>
            </li>

            <li>
                <p>
                    Carregar arquivos que contenham vírus, arquivos corrompidos ou qualquer outro software ou programa similar que possa
                    danificar a operação do computador de outra pessoa.
                </p>
            </li>

            <li>
                <p>
                    Anunciar ou oferecer para vender ou comprar quaisquer bens ou serviços para qualquer finalidade comercial, a
                    menos que tal Serviço de Comunicação permita especificamente tais mensagens.
                </p>
            </li>

            <li><p>Realizar ou encaminhar pesquisas, concursos, esquemas de pirâmide ou cartas em cadeia.</p></li>

            <li>
                <p>
                    Faça o download de qualquer arquivo postado por outro usuário de um Serviço de Comunicação que você saiba,
                    ou que deva saber que não possa ser legalmente distribuído dessa maneira.
                </p>
            </li>

            <li>
                <p>
                    Falsificar ou excluir quaisquer atribuições de autor, avisos legais ou outros avisos apropriados ou
                    designações proprietárias ou rótulos da origem ou origem do software ou outro material contido em um
                    arquivo que é carregado.
                </p>
            </li>

            <li><p>Restringir ou inibir qualquer outro usuário de usar e desfrutar dos Serviços de Comunicação.</p></li>

            <li>
                <p>
                    Violar qualquer código de conduta ou outras diretrizes que possam ser aplicáveis a qualquer Serviço de Comunicação
                    específico.
                </p>
            </li>

            <li><p>Colher ou coletar informações sobre outros, incluindo endereços de e-mail, sem o consentimento deles.</p></li>

            <li><p>Violar quaisquer leis ou regulamentos aplicáveis.</p></li>
        </ul>

        <p>
            Zulrah Consultoria e Desenvolvimento de Software não tem nenhuma obrigação de monitorar os serviços de comunicação deste site.
            No entanto, Zulrah Consultoria e Desenvolvimento de Software se reserva o direito de revisar os materiais postados em um
            Serviço de Comunicação e remover qualquer material a seu exclusivo critério. Zulrah Consultoria e Desenvolvimento de Software
            reserva-se ao direito de restringir a qualquer momento o acesso de qualquer usuário a alguns ou a todos os serviços de
            comunicação deste site por qualquer razão que julgar relevante.
        </p>

        <p>
            A Zulrah Consultoria e Desenvolvimento de Software reserva-se o direito de divulgar todas as informações conforme necessário
            para satisfazer qualquer lei, regulamento, processo legal ou solicitação governamental aplicável, ou para editar, recusar-se
            a publicar ou remover quaisquer informações ou materiais, no todo ou em parte, a critério exclusivo da Zulrah Consultoria
            e Desenvolvimento de Software.
        </p>

        <p>
            Sempre tenha cuidado ao fornecer informações de identificação pessoal sobre você ou seus filhos em qualquer Serviço
            de Comunicação. Zulrah Consultoria e Desenvolvimento de Software não controla ou endossa o conteúdo, mensagens ou informações
            encontradas em qualquer Serviço de Comunicação e, portanto, a Zulrah Consultoria e Desenvolvimento de Software especificamente
            se isenta de qualquer responsabilidade com relação aos Serviços de Comunicação e quaisquer ações resultantes de sua
            participação em qualquer Serviço de Comunicação. Gerentes e hosts não são porta-vozes autorizados da Zulrah Consultoria
            e Desenvolvimento de Software, e seus pontos de vista não refletem necessariamente os da Zulrah Consultoria e Desenvolvimento
            de Software.
        </p>

        <p>
            Os materiais enviados para um Serviço de Comunicação podem estar sujeitos a limitações de uso, reprodução e / ou disseminação.
            Você é responsável por aderir a tais limitações se fizer o download dos materiais.
        </p>

        <h2>
            MATERIAIS FORNECIDOS À Zulrah Consultoria e Desenvolvimento de Software OU PUBLICADOS EM QUALQUER SITE DA Zulrah
            Consultoria e Desenvolvimento de Software
        </h2>

        <p>
            A Zulrah Consultoria e Desenvolvimento de Software não reivindica a propriedade dos materiais que você fornece para a Zulrah
            Consultoria e Desenvolvimento de Software (incluindo feedback e sugestões) ou publica, envia, insere ou envia para qualquer
            Site da Zulrah Consultoria e Desenvolvimento de Software ou seus serviços associados (coletivamente "Envios"). No entanto,
            ao postar, fazer upload, fornecer ou enviar seu Envio, você concede à Zulrah Consultoria e Desenvolvimento de Software,
            a suas empresas afiliadas e aos sublicenciados necessária permissão para usar seu Envio em conexão com a operação de seus
            negócios na Internet, incluindo, sem limitação, os direitos a: copiar, distribuir, transmitir, exibir publicamente, executar
            publicamente, reproduzir, editar, traduzir e reformatar o seu Envio; e publicar seu nome em conexão com o seu Envio.
        </p>

        <p>
            Nenhuma compensação será paga com relação ao uso do seu Envio, conforme previsto neste documento. A Zulrah Consultoria
            e Desenvolvimento de Software não têm nenhuma obrigação de publicar ou usar qualquer Submissão que você possa fornecer
            e pode remover qualquer Submissão a qualquer momento, a critério exclusivo da Zulrah Consultoria e Desenvolvimento de Software.
        </p>

        <p>
            Ao postar, fazer upload, inserir, fornecer ou enviar seu Envio, você garante e declara que você possui ou de outra forma
            controla todos os direitos do seu Envio conforme descrito nesta seção, incluindo, sem limitação, todos os direitos necessários
            para você fornecer, publicar, upload, entrada ou enviar os envios.
        </p>

        <h2>RESTRIÇÃO / RESTRIÇÃO DE ACESSO</h2>

        <p>
            A Zulrah Consultoria e Desenvolvimento de Software se reserva o direito de, a seu exclusivo critério, encerrar seu acesso ao
            Site da Zulrah Consultoria e Desenvolvimento de Software e aos serviços relacionados, ou qualquer parte deles, a qualquer
            momento, sem aviso prévio. O uso do site da Zulrah Consultoria e Desenvolvimento de Software não são autorizados em nenhuma
            jurisdição que não dê efeito a todas as disposições destes termos e condições, incluindo, sem limitação, este parágrafo. Você
            concorda que nenhuma relação de joint venture, parceria, emprego ou agência existe entre você e a Zulrah Consultoria e Desenvolvimento
            de Software como resultado deste contrato ou uso do Site da Zulrah Consultoria e Desenvolvimento de Software. O desempenho deste
            contrato por parte da Zulrah Consultoria e Desenvolvimento de Software está sujeito às leis e processos legais existentes, e nada
            contido neste contrato está em derrogação ao direito da Zulrah Consultoria e Desenvolvimento de Software de cumprir exigências
            governamentais ou judiciais, ou exigências legais relacionadas ao seu uso do contrato. Site da Zulrah Consultoria e Desenvolvimento
            de Software ou informações fornecidas ou reunidas pela Zulrah Consultoria e Desenvolvimento de Software com relação a esse uso.
            Se qualquer parte deste acordo for considerada inválida ou inexequível nos termos da lei aplicável, incluindo, mas não limitado a,
            as isenções de garantia e limitações de responsabilidade estabelecidas acima, então a disposição inválida ou inexequível será
            considerada substituída por uma disposição válida e aplicável que mais se aproxime da intenção da disposição original e o restante
            do acordo continuará em vigor. A menos que especificado de outra forma neste documento, este contrato constitui o contrato integral
            entre o usuário e a Zulrah Consultoria e Desenvolvimento de Software com relação ao Site da Zulrah Consultoria e Desenvolvimento de
            Software e substitui todas as comunicações e propostas anteriores ou contemporâneas, sejam eletrônicas, orais ou escritas, entre o
            usuário e a Zulrah Consultoria e Desenvolvimento de Software com relação ao site da Zulrah Consultoria e Desenvolvimento de Software.
            Uma versão impressa deste contrato e de qualquer notificação dada em formato eletrônico será admissível em processos judiciais ou
            administrativos baseados ou relacionados a este contrato na mesma medida e sujeitos às mesmas condições que outros documentos
            comerciais e registros originalmente gerados e mantidos em vigor impresso.
        </p>

        <h2>AVISOS DE DIREITOS AUTORAIS E MARCAS COMERCIAIS:</h2>

        <p>
            Todos os conteúdos do site da Zulrah Consultoria e Desenvolvimento de Software são: Copyright [2019] Zulrah Consultoria e
            Desenvolvimento de Software e / ou seus fornecedores. Todos os direitos reservados.
        </p>

        <h2>MARCAS COMERCIAIS</h2>

        <p>
            Os nomes de empresas e produtos reais aqui mencionados podem ser marcas comerciais de seus respectivos proprietários.
            Os exemplos de empresas, organizações, produtos, pessoas e eventos aqui mencionados são fictícios. Nenhuma associação com qualquer empresa, organização, produto, pessoa ou evento real é intencional ou deve ser inferida.
            Quaisquer direitos não expressamente concedidos aqui são reservados.
        </p>

        <h2>AVISOS E PROCEDIMENTO PARA FAZER REIVINDICAÇÕES DE VIOLAÇÃO DE DIREITOS AUTORAIS</h2>

        <p>
            TODOS OS INQUÉRITOS NÃO RELEVANTES AO SEGUINTE PROCEDIMENTO NÃO RECEBERÃO NENHUMA RESPOSTA. Consulte o Aviso e o
            Procedimento para Fazer Reclamações sobre Violação de Direitos Autorais.
        </p>
    </div>

</section>