<head>
    <title>Tuning de Aplicações - Zulrah</title>

    @section metatags{
        <meta name="description"
              content="Seu sistema é lento e não está acompanhando o seu negócio?
          Conheça nossas soluções de tuning e deixe-nos turbiná-lo!">

        <meta name="keywords" content="A definir">
    }

    <link href="~/Content/cssViews/about.css" rel="stylesheet" />
</head>

<section class="box-content-services">
    <div class="text-center pb-2">
        <h1>Tuning de Aplicações</h1>
        <img class="img-fluid" width="500" height="400" src="~/imagens/imagens-saiba-mais/Tuning-Aplicacoes.jpg" alt="Imagem que representa Sistemas Personalizados" />
    </div>

    <div class="pad-content">
        <p>
            Nos tempos de hoje a quantidade de dados que são gerados crescem exponencialmente junto
            com as corporações, aplicações que não estão preparadas para essa quantidade tendem a apresentar
            lentidão ou consumo excessivo de recursos em atividades relativamente simples.
        </p>

        <p>
            Nosso serviço de Tuning de aplicações consiste em realizar uma profunda análise em sistemas já
            existentes buscando por pontos de melhorias pontuais e preventivos.  Possuímos profissionais especializados
            para diversas tecnologias entre infraestrutura, banco de dados e linguagens de programação.
        </p>
    </div>
    @Html.Partial("_Contact")

</section>
